.cercle{
    border: 1px solid rgb(14, 104, 52);
    border-radius: 50%;
}
.fa-check{
    color:rgb(14, 104, 52) ;
    font-size: 14px;
    padding: 3px;

}
.wide{
    font-size: 12px;
}
.bleu{
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 15px;
}
/* visibility */
.color{
    background-color: rgba(245, 237, 237, 0.842);
    border-radius: 30px;
}
.sales{
   
   width: 200px;

}
 .goals{
    height: 500px;
    position: relative;
    left: 50px;
} 
.img .goals{
    width: 2000px;

}
.fa-arrow-right{
    color: blueviolet;

}
.carre{
    background-color: blueviolet;
    border-radius: 20px;
    margin: 20px;
    height: 600px;
}
.sales:hover{
    background-color: white;
    border-radius: 10px;
}
.fa-trophy{
    background-color: white;
    padding: 20px;
    color: blueviolet ;
    font-size: 25px;
}
/* teamwork */
.teamwork{
    background-color: rgb(182, 218, 216);
    border-radius: 30px;
}
.traits:hover{
    border-bottom: 3px solid rgb(43, 214, 226);
}
.souligner{
    border: 2px solid rgb(43, 214, 226);
    width: 100px;

}
/* management */
.MANAGEMENT{
    background-color: rgb(182, 218, 216);
    border-radius: 30px;

}
.work{
    background-color: rgb(14, 104, 52);
    border-radius: 20px;
    margin: 20px;

}
.bi-grid{
    background-color: white;
    padding: 10px;
    color: rgb(14, 104, 52) ;
    font-size: 30px;
    border-radius: 10px;
    position: relative;
    top: 20px;

}
.checklists{
    position: relative;
    left: 50px;
}
.carte{
    background-color:white ;
    border-radius: 10px;
}
.imodji{
    background-color: rgb(14, 104, 52) ;
    padding: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    width: 50px;

}
.icontelephone{
    position: relative;
    top: 20px;


}
.visualize{
    width: 250px;
    height: 200px;
}
.moncard{
    height: 315px;
}
.mon{
    border-radius: 10px;
}
.devices{
    background-color: white;
    border-radius: 10px;
}
.flex{
    color: rgb(14, 104, 52) ;
}
.solution{
     color: rgb(43, 214, 226 );   

}
.cles {
    background-color:rgb(43, 214, 226 ) ;
    padding: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    width: 50px

}
.flexo {
    color: rgb(43, 214, 226 );

}
.peu{
    border-radius: 10px;
}
/* security */
.security{
 background-color:  rgba(245, 237, 237, 0.842);
 border-radius: 30px;
}
.sso{
    text-decoration: none;
    color: black;
}


.smailtrait:hover{

    border-bottom: 2px solid blueviolet;
}
.soulignement{
    border: 2px solid blueviolet;
    width: 100px;

}
.qqs{
    width: 70px;
    height: 70px;
}
.qq{
    width: 100px;
    height: 40px;

}
.bring{
   
    font-size: 15px;
}
/* controle */
.controle{
    background-color:rgb(182, 218, 216);
    border-radius: 30px;

}
.permis:hover{
    border-bottom: 2px solid rgb(43, 214, 226 );
    border-radius: none;

}
.soulignements{
    border: 2px solid rgb(43, 214, 226 );
    width: 100px;

}
/* **********************************entreprise******************************* */
.entreprise{

    background-color: rgb(255, 228, 246);
    border-radius: 30px;
    margin:20px ;
}
.plan{
    color:rgb(233, 20, 162) ;
}
.team{
    position: relative;
    bottom: 60px;
}
.mon{
    border: none;
    border-radius: 10px;
}
.pbotom{
  margin-bottom:  100px;
}

.sorts{
     border: 1px solid gray; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 5px;
  

}
.sort{
     border: 1px solid black; 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 5px;
   
}
.noir{
    color:black;
}

marquee {
    width: 100%;
}
.bi-circle-fill{
  color:rgb(233, 20, 162)  ;
}
 .touch{
    font-size:10px ;

} 
.golive{
    color:rgb(233, 20, 162) ;
}
.iconeRose{
    color: rgb(233, 20, 162)  ;
}
/* support */
.support{
    color: blueviolet;

}
.contcolor{
    background-color:blueviolet ;
    border-radius: 50%;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.contcolore{
 background-color: rgb(233, 20, 162) ;
 border-radius: 50%;
 width: 100px;
 height: 100px;
 display: flex;
  justify-content: center; 
 align-items: center;


}
.conteur{
    color: white;
    font-weight: bold;
    font-size: 30px;
    
}

/* setup */
.setup{
    background-color: rgb(182, 218, 216);
    border-radius: 30px;
    margin:20px ;

}
.bek{
    background-color: white;
    border-radius: 20px;
}
.inclu{
    background-color:rgb(14, 104, 52) ;
    color: white;
    border-radius: 30px;
    width: 100px;
    margin: 15px;
    padding: 10px;
}
.cercles{
    border: 3px solid rgb(14, 104, 52);
    border-radius: 50%;

}
.bekes{
    height: 720px;
}
.iconeverte{
    color:rgb(14, 104, 52) ;
}
.bages{
    position:  relative;
    bottom: 240px; 
    width: 250px;
    height: 250px;

}
/* ***********Tesmoinage**************** */
.moins{
    background-color: white;
    border-radius: 10px;
    width: 350px; 
    
}
.ken-kawachi{
    border-radius: 50%;
     width: 60px;
    height: 60px; 
}
.drole{
    color: gray;
    font-size: 20px;
   

}
.surtout{
    height: 500px;
}
.courte{
    height: 450px;

}
.DED{
    position: relative;
    top: 20px;

}
.largement{
    width: 500px;
}
@media screen and (max-width: 768px) {
    /* .moncard{
        width: 18rem;
    } */
   .mon{
        width: 98%;

    } 
   .that{
        display: flex;
        flex-direction: column;
    }
  
    .team{
        position: initial;
    }
    .checklists{
        position: initial;

    }
    .goals{
        position: initial;
    }
    .carre{
        height: 1000px;

    }

        

    
    
}
